#ignore build tree
build/

#ignore generated doc files
doc/

#ignore dot files and pngs
*.dot
*.png
*.jpeg

#ignore emcas .dir-locals
.dir-locals.el

#ignoreGTAGS
GPATH
GRTAGS
GTAGS

#ignore eglot(?) cache
.cache/

#ignore emacs backup files
*~